.containerGrafico {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerGrafico h1 {
    margin: 0;
    font-size: 20px;
}

.grafico {
    width: 450px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}