.panel-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 450px;
}

.panel-container h1 {
    margin: 8px;
    font-size: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    /* Força o layout da tabela a ser fixo */
}

.styled-table th,
.styled-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 5%;
}

.styled-table th {
    background-color: #4CAF50;
    color: white;
}

.styled-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.styled-table tr:hover {
    background-color: #ddd;
}

input[type='checkbox'] {
    cursor: pointer;
}